@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

:root {
  --primary-color: #bbd7e2;
  --secondary-color: #dbebf0;
  --dark-color: #212540;
  --light-color: #fbe137;
  --success-color: #2f554b;
  --alert-color: #7d0729;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--primary-color);
  color: var(--dark-color);
  line-height: 1.4;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
}

.modal-background {
  position: fixed;
  background-color: gray;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}

/* Buttons */
.btn {
  background: var(--light-color);
  color: var(--dark-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
}

.btn:hover {
  background: var(--dark-color);
  color: var(--light-color);
  cursor: pointer;
}

.instructions-button,
.login-cancel,
.signup-cancel {
  background: var(--secondary-color);
}

.instructions-button:hover,
.login-cancel:hover,
.signup-cancel:hover {
  color: var(--secondary-color);
}

.start-button {
  margin-right: 10px;
}

/* Navbar */
#navbar {
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

#navbar .logo {
  font-size: 2rem;
}

#navbar ul {
  display: flex;
}

#navbar ul li:nth-child(2) {
  margin-right: 20px;
}

.welcome {
  font-size: 22px;
  font-weight: bold;
}

.player-name {
  font-size: 22px;
  font-weight: bold;
  color: var(--alert-color);
}

/* Game Section */
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px auto 0 auto;
}

.sidebar {
  margin-left: 30px;
}

.sidebar .sidebar-buttons {
  margin-top: 30px;
  display: flex;
}

.sidebar .score {
  color: var(--alert-color);
}

.sidebar .high-score {
  color: var(--success-color);
}

.game-container {
  border: 2px solid var(--dark-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 550px;
  height: 500px;
  margin-right: 30px;
  position: relative;
}

.game-window {
  height: 500px;
  width: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.game-over {
  color: var(--alert-color);
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 40px;
}

.letter {
  position: absolute;
  font-size: 2rem;
  margin-top: 100%;
  animation-duration: 3s;
  animation-name: slidedown;
  animation-timing-function: linear;
}

@keyframes slidedown {
  from {
    margin-top: 0%;
  }

  to {
    margin-top: 100%;
  }
}

/* Forms */
.form {
  border: 1px solid lightgray;
  background: white;
  border-radius: 5px;
  z-index: 10;
  position: fixed;
  right: 0;
  width: 200px;
  margin: 0 35px;
  padding: 20px;
}

.form .form-group {
  margin-bottom: 10px;
}

.form label {
  display: block;
}

.form input {
  padding: 5px;
  border-radius: 5px;
  border: var(--dark-color) 1px solid;
}

.form .form-buttons {
  text-align: center;
}

.submit,
.login-cancel,
.signup-cancel {
  padding: 5px 10px;
}

/* Instructions */
.instructions {
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  width: 50%;
  right: 25%;
  padding: 40px;
  z-index: 10;
}

.x-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
}

.x-button:hover {
  cursor: pointer;
}

.instructions h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.instructions ul li span {
  color: var(--alert-color);
}

.instructions li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
